.close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 16px;
     
  
  }
  

.close:hover {background: #bbb;}
.team {
    color: #000000b5;
    /* background-color: darkslategray; */
    /* background-color: #104040; */
        /* background-color: darkslategray; */
        /* background-color: #173E43; */
        background-color: #F5BEB0;
        background-color: #fd29799e;
        background-color: rgb(212, 59, 84);
    }


.no-link {
    text-decoration: none;
    color: rgb(37, 35, 35);
   
    font-weight: normal;
}

.mb10 {
    margin-bottom: 10px;
}

.team-subtitle {
    font-size: 16px;
    font-weight: 600;
    color: #000000b5;
    color: #ffffff75;;
}
.create-teamform{
    display: none;
}

.create-team {
    padding: 10%;
    margin: 5%;
    font-weight: bold;
    font-size: 21px;
    border-color: black;
}

.team-members {
    color: #000000b5;
}

@media (min-width:900px) {
    .team-group {
        display: flex;
        flex-wrap: wrap;
        padding-left: 3%;
        padding-right: 2%;
    }

.team,
.btn.create-team {
    width: 313px;
    height: 349px;
    overflow: hidden;
    margin: 2%;
    color: white;
background-color:white;
}
.btn.create-team
{
width: 350.4688px;

height: 365px;


}

.team-name { 
    size: 20px;
    
}

.team-caption,
.team-members {
    color: white;
    font-size: 16px;
}

.team-members {
    font-size: 14px;
    color: #ffffff75;
}

.create-team {

    font-size: 114px;
    font-weight: 100;
    color: rgb(72 82 52);
    width: 315px;
    height: 364px;
    padding: 2%;
    
}
}
.create-team-btn{left:50%;}

.create-teamform{
    padding: 9.415%;
    color: white;
    position: fixed;
    top: 187px;
    left: 18px;
    opacity: 1;
    /* background-color: rgb(212, 59, 84) !important; */
    border-radius: 4px;
    /* border: 1px solid rgb(229 37 68); */
    box-shadow: 2px 4px 7px darkgrey;
    color:black;
background-color: white;
   }
  
   @media (max-width:900px){
       .add-btn{height: 26px; width:50%;}
       .create-teamform{width: 75%;
    padding-left: 5%;}
   }
   .create-team-btn{width:100%;}
   @media (min-width:900px)
   {
       .create-teamform{top:15%;
        
        left:25%;
       padding:50px;
    width: 490px;
   
    }


    .w80p{width: 80%;}
    .create-team-form-flex{justify-content: space-between;}
.add-team-btn{width:20%;}
.more-columns{width:100%; margin-right: 150px;}
    .add-members-in-team{margin-top:150px;}
   }
   /* .fix-div-bg{
      
    content:"";
    position:fixed;
    top: 0;
    left:0;
    width:100%;
    height: 100%;
    background-color: rgba(14,13,13, 0.26);
    z-index: 1;
  } */
  .create-teamform1{
    z-index: 2;
  }
  p.team-caption.grey
  {
   color: #2B2D42;
  }
  h3.team-name.mb10{
      color: #2B2D42;
  }
  p.attendees-example.team-members{    color: #2B2D42;}
  .team-subtitle,span.b{color:#2B2D42;}
  .team{background-color:white;
  }
  #create-teamform1{    box-shadow: 0px 0px 316px 505px rgb(56 45 45 / 60%);
  
    z-index: 10;}
    .create-team{cursor: pointer;}